/* styles.css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.header-img {
      justify-content: left;
}

.header-links {
    text-decoration: underline;
    display: flex;
    gap: 12px;
}   

.container-mission {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-img {
    
    height: 700px;
    width: 1200px;
}

.mission-text {
    
    background-color: black;
    width: 100%;
    position: absolute;
}

.tea-month {
    width: 1000px;
    margin: 60px auto;
}

.teamonth-img img {
    padding: 10px;
    width: 300px;
    height: 200px;
}

.teaimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.teamonth-txt {
    padding: 10px;
}


