/* styles.css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img {
      justify-content: left;
}

.header-links {
    text-decoration: underline;
    display: flex;
    gap: 12px;
}   

.container-mission {
    display: flex;
    /* background-image: url("images/img-mission-background.jpg");
    width: 1200px;
    height: 700px; */
}

.mission-text {
    background-color: black;
    width: 100%;
}




